<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

    <div id="inputWrapper">

        <div class="inputFile"><input type="file"></div>
        <div class="inputFile"><input type="file"></div>
        <div class="inputFile"><input type="file"></div>
        <div class="inputFile"><input type="file"></div>
        <div class="inputFile"><input type="file"></div>
        <div class="inputFile"><input type="file"></div>
    </div>

    <!-- <input type="file" id="input"> -->
    <canvas id="canvas"></canvas>
    <div id="output"></div>
    
        <canvas class="webgl"></canvas>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous"></script>
    
      <script src="./javascripts/multipleImg/controller.js" type="module"></script>
</body>
</html>