body {
  background-color: #fff;
}
img {
  margin: 0px 2px;

}
#output > img{
  width:100px;
  height:100px;
}

#output{
  line-height: 0;
}

#canvas{
  max-width: 200px;
}
.blockCanvas{
  display:none;
}